bleach==3.2.1
certifi==2020.11.8
chardet==3.0.4
defusedxml==0.6.0
idna==2.10
ipython-genutils==0.2.0
packaging==20.7
Pygments==2.7.2
pyparsing==2.4.7
requests==2.25.0
six==1.15.0
testpath==0.4.4
traitlets==5.0.5
urllib3==1.26.2
webencodings==0.5.1
